/* _________________________________________GENERAL */
:root{
    --text-button: #FFFFFF;
    --second-title: #2E2F42;
    --p-text: #434455;
    --gra: radial-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7));
}

h1,h2,h3,h4,p{
    margin-top: 0;margin-bottom: 0;}

ul{
    margin-top: 0;margin-bottom: 0;padding-left: 0;}

img{
    display: block;}

.list{
    list-style: none;}
.link{
    text-decoration: none;
    font-style: normal;}

.body {font-family: 'Roboto', sans-serif;
    font-weight: 500;}

button{cursor: pointer;}

.container{
    padding-right: 15px;
    padding-left: 15px;
}


/* _______________________________________________HEADER */
.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}

    /* ______________________________MOB-MENu */
.header-mob-menu-open{
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
}
.header-burger{
    stroke: var(--second-title);
}
.mob-menu-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 40px;
    padding-top: 80px;
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1111;
    
    background-color: #fff;
}
.tel 
{
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.11;

    color: #4D5AE5;}
.mail{
    margin-bottom: 48px;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}


.mobile-header-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.mob-menu-link:not(:last-child) { margin-bottom: 40px;} 

/* --------------------------------------------- */

/* _________________________________________________________NAVi  */

.logo-link{
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;

color: #2E2F42;
}
.color-dark-logo{color: #4D5AE5;}
.color-white-logo{color: #F4F4FD;}

.link-color{color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .link-color:is(:hover, :focus, :active)
    {color: #404BBF}
.current{
        position: relative;
    }
    
.current::after{
        content: '';
        position: absolute;
        bottom: -32px;
        right: 0;
        height: 4px;
        width: 100%;
        background: #404BBF;
        border-radius: 2px;
    }

.contacts{    
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
    }

.for-flex-mob-icon-soc{
    display: flex;
    justify-content: space-between
}

/* _________________________________________________HERO */

.section{
    padding-bottom: 120px;}

.hero{
    background-image: var(--gra), url(../images/bg/mobail-dark-bg.jpg);
    background-size: 428px 432px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
} 
.hero-bg{background-color: #2E2F42;
}


@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: 
    var(--gra), url('../images/bg/mobail-dark-bg@2x.jpg');
    background-size: 428px 432px;
  }
}


.box-hero{   
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.title-hero {
    max-width: 320px;
    height: 80px;
    font-size: 32px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;

    color: #FFFFFF;
}


.order-button{
margin-left: auto;
margin-right: auto;
border-radius: 4px;
border: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    color: var(--text-button);

    background-color: #4D5AE5;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:is(:hover, :focus){
    background-color: #404BBF;}

/* portfolio ======================================= */
/* .buttons {
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
    background-color: #404BBF;
    color: var(--text-button);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: #404BBF;
}

.list-buttons{

    margin-bottom: 72px;
    display: flex;
    justify-content: center; 

    gap:24px
}
.button-section{
    padding-top: 96px;}

.images-content{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.content{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid #E7E9FC;
    border-top: none;}

.photo-item{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-item-link{
    width: calc((100% - 2 * 24px) / 3 );
}

.photo-item-link:is(:hover, :focus) .photo-top-text{
    transform: translatey(0%);
}

.photo-item:hover,
.photo-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.photo-top-container{
    position: relative;
    overflow: hidden;
}


.photo-top-text{
    position: absolute;
    top: 0;
    height: 100%;
    transform: translatey(100%);

    padding: 40px 32px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #F4F4FD;
    background-color: #4d5ae5f1;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}
 */


    /* ======================================================== */

/* ________________________________________________________SECT2 */
.title-advantages-hidden{ 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.advantages{
    padding-top: 96px;
    padding-bottom: 96px;}

.advantages-icon-box{
    display: none;
}

.title-general{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    
    text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

    color: var(--second-title);
}
.text-general{
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--p-text);
}
.advantages-general:not(:last-child){
    margin-bottom: 72px;
}
/* ________________________________________________________SECT3 */
.title-jobs{
display: none;}

.we-doing-list{
    display: none}

/* ________________________________________________________SECT4 */
.our-team {
    background-color:#F4F4FD;;
    padding-top: 96px;
}
.our-team-resume{
    padding-top: 32px;
padding-bottom: 32px; }
.title-team{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2E2F42;}


.title-item-team{
    margin-left: auto;
    margin-right: auto;
    width: 264px;
    text-align: center;
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;}

.title-item-team:not(:last-child)
{margin-bottom: 72px;
}

.title-general-team{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--second-title);
}
.text-general-team{
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--p-text);
}

.soc-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon-link:hover,.soc-icon-link:focus{
    background-color: #404BBF;
} 

.soc-icon{
    fill: #F4F4FD;}

.for-flex-icon-soc{
    display: flex;
    justify-content: space-around; } 

/* ________________________________________________________sect4  */
.title-customers{
    
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2E2F42;}

.customers{
    padding-top: 130px;
}

.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 168px;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;  
    row-gap: 72px;
    }



.icon-compani{
    align-items: center;
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus){
    border-color: #404BBF;}

.customers-link:is(:hover, :focus) .icon-compani{
    fill: #404BBF;
}


/* ________________________________________________________FOOTER */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-bg{
    background-color: #2E2F42;
}


.footer-text{
    margin-left: auto;
    margin-right: auto;
    max-width: 262px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #E7E9FC;
}
.footer-first-column{
    margin-bottom: 72px;
    margin-left: auto;
margin-right: auto;}

.footer-logo{
    display: block;
    margin-bottom: 16px;
text-align: center;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
font-size: 18px;
line-height: 1.16;
}
.social-media{
    margin-bottom: 16px;
    text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: #FFFFFF;}
.footer-soc-icon{
    margin-bottom: 72px;
}

.footer-soc-icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-icon-link{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF1A;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-soc-icon-link:hover,.footer-soc-icon-link:focus{
    background-color: #31D0AA;
}
.footer-svg {
    fill: var(--text-button);
}


.footer-mail{
    display: block;
width: 100%;
height: 40px;
margin-bottom: 16px;
padding-left: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 2;

color: rgba(255, 255, 255, 0.6);

background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px

}

.mail-sub{
margin-bottom: 16px;
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: #FFFFFF;
}


.btn-subscribe{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;

    width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

color: #FFFFFF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscribe:is(:hover, :focus){
    background-color: #404BBF;
}

.footer-send-icon{
    fill: #FFFFFF;
    width: 24px;
    height: 20px;
}
/* ===============================================MODAL+++ */
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 408px;
    min-height: 576px;

    padding: 72px 24px 24px 24px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    width: 24px;
    height: 24px;
    background-color:  #E7E9FC;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

    .close-modal-button{
        width: 8px;
        height: 8px;
        
        fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover,:focus,:active){

    background-color: #404BBF;
}

.modal-close:is(:hover, :focus, :active) .close-modal-button{
    fill: #FFFFFF;
}


.leave-contacts {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 14px;

color: #2E2F42;
}

.label-desc {
display: block;
margin-bottom: 8px;
}

.input-styles{
    position: relative;
    display: block;

    width: 100%;
    height: 40px;
    padding-left: 40px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px
    
}
.input-styles:focus{
    outline: none;
    border-color: #4D5AE5;}

.input-styles:focus + .modal-icon{
    fill: #4D5AE5;
}    

.modal-input-desc {
    display: block;
    margin-bottom: 4px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.01em;   
    
    color: #8E8F99;
}

.modal-textarea{
    resize: none;

    width: 100%;
    height: 120px;
    padding: 8px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}
.modal-textarea:focus{
    border-color: #4D5AE5;
}


.modal-textarea::placeholder{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;

color: rgba(117, 117, 117, 0.5);
}

.modal-send-btn{
    display: block;
    width: 169px;
    height: 56px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
margin-left: auto;
margin-right: auto;
margin-top: 24px;


    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: var(--text-button);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus{
    background-color: #404BBF;
}

.modal-icon-position{
    position: relative;
}

.modal-icon{
position: absolute;
top: 50%;
left: 19px;
transform: translatey(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.modal-fake-check{
    margin-right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
}

.label-policity-desc{
display: flex;
align-items: center;

position: relative;
font-style: normal;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;

color: #757575;
}

.label-policity-check:checked + .label-policity-desc > .modal-fake-check{
    background-color: #404BBF;
    border: none;
}
.label-policity-check:focus + .label-policity-desc > .modal-fake-check{
    border: 2px solid #404BBF;
}
.label-policity-check:checked + .label-policity-desc .modal-fake-check-icon{
    opacity: 1;
}

.modal-fake-check-icon{
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translatey(-50%);
    opacity: 0;

    width: 10px;
    height: 8px;
    
    fill: #FFFFFF;
}

.label-policity-check:checked ~ .modal-fake-check-icon{
    fill: #31D0AA;
} 